<%- include('partials/header') -%>

<h1>Compose</h1>

<form method="post" action="/compose">
	<div class="form-group">
		<label>Title</label>
		<input class="form-control" type="text" name="postTitle" autofocus placeholder="Write a title post here...">
		<label>Post</label>
		<textarea class="form-control" name="postContent" rows="5" cols="30" placeholder="Write your post here..."></textarea>
	</div>
	<button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>

<%- include('partials/footer') -%>